body {
    text-align: center;
    background-color: #dfe0df;
}

span {
    padding:2em;
}

.sprite {
    /* this will remove our character from the side, since we want him to display visibily in our game screen. */
    display:none;
}