body {
    text-align: center;
    background-color: #393e46;
    color: white;
    
    margin:0;
    font-family: 'Roboto Mono', monospace;
}

.sprite {
    /* this will remove our character from the side, since we want him to display visibily in our game screen. */
    display:none;
}

#lifePoints {
    padding: 1em;
}

#hungerPoints {
    padding: 1em;
}

#expPoints {
    padding: 1em;
}

#splashScreen {
    text-align: center;
    font-size: 32px;
    margin:0;

}

#gatchiEgg {
    width: 500px;
    height: 300px;
    background:transparent;
}

#gameBody {
    background-color: #bbf1fa;
    background-position: center;

}

#gameDescription {
    background-color: #393e46;
    color: white;
    font-size: 16px;
    padding: 1em;
    padding-bottom: 6em;
}

#gameDiv {
    display:none;
}

#tutorialButton {
    margin: 1em;
}

#tutorialDesc {
    display:none;
}

#winScreen {
    background-color: #393e46;
    color: black;
    padding: 4em;
    text-align: center;
    font-size: 2em;
    display: none;
}

#winScreenContent {
    background-color: #bbf1fa;
}

#loseScreen {
    display: none;
}