body {
    text-align: center;
    background-color: #dfe0df;
    /* background-color: #bbf1fa; */
    margin:0;
    font-family: 'Roboto Mono', monospace;
}

.sprite {
    /* this will remove our character from the side, since we want him to display visibily in our game screen. */
    display:none;
}

#lifePoints {
    padding: 1em;
}

#hungerPoints {
    padding: 1em;
}

#expPoints {
    padding: 1em;
}

#splashScreen {
    text-align: center;
    font-size: 32px;
    margin:0;
    display:none;
}

#gatchiEgg {
    width: 500px;
    height: 300px;
    background:transparent;
}

#gameBody {
    background-color: #bbf1fa;
    background-position: center;

}

#gameDescription {
    background-color: #393e46;
    color: white;
    font-size: 16px;
    padding: 1em;
    padding-bottom: 6em;
}

#game {
    /* display:none; */
}

#tutorialButton {
    margin: 1em;
}

.tutorial {
    display:none;
} 
#controlsDesc {
    display:none;
}

#damageDesc {
    display:none;
}

#yellowDesc {
    display:none;
}

#orangeDesc {
    display:none;
}

#warningDesc {
    display:none;
}